*{
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #fafafa;
}
a{
    text-decoration: none;
    color: #007AFF;
}
h1{
    display: block;
    text-align: left;
    margin: 128px 277px 12px 16px;
    color: black;
    font-weight: 500;
    font-size: 32px;
    line-height: 41px;
    letter-spacing: 0.41px;
}
h2{
    display: block;
    margin: 0px 16px 102px 16px;
    text-align: left;
    font-weight: normal;
    font-size: 20px;
    line-height: 26px;
    letter-spacing: 0.41px;
    color: rgba(0, 0, 0, 0.5);
}
input{
    display: block;
    background: #d8d8df;
    border-radius: 6px;
    border: none;
    margin: 0px 16px 12px 16px;
    width: 348px;
    height: 48px;
    padding-left: 8px;
}
.Forgot-Password{
    display: block;
    text-align: right;
    margin-right: 16px;
    font-size: 16px;
    line-height: 22px;
    letter-spacing: -0.41px;
}
button{
    margin: 20px 16px 204px 16px;
    background: rgba(0, 0, 0, 0.94);
    border-radius: 10px;
    color: white;
    text-align: center;
    width: 343px;
    height: 48px;
    font-weight: 500;
    font-size: 17px;
    line-height: 22px;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25);
}
p{
    text-align: center;
    display: block;
    margin: 0px 75px 39px 75px;
    color: rgba(0, 0, 0, 0.51);
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
}
